.App {
  text-align: center;
}

.cell {
  box-sizing: border-box;
  border: 1px solid;
  height: 100px;
  width: 100px;
}

.inventory {
  border: 1px solid;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}
