.App {
  text-align: center;
}

.cell {
  background-color: rgba(214, 214, 214, 0.6);
  box-sizing: border-box;
  border: 1px solid rgba(151, 151, 151, 0.6);
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 50px;
}

.inventory {
  border: 1px solid;
  box-sizing: content-box;
  left: 20px;
  margin: 1em auto;
  position: sticky;
  top: 20px;
  width: 250px;
}

.item {
  background-color: #bfe6ad9d;
  box-sizing: border-box;
  position: absolute;
}
